

<h3 class="text-left">
  Radio Button
</h3>

<div class="pad-20 border">
<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
</div>


<h3 class="text-left">
  Input - TextBox
</h3>

<div class="pad-20 border">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="TextBox">
  </mat-form-field>
</form>
</div>

<h3 class="text-left">
  Input Border - TextBox
</h3>

<div class="pad-20 border">
<form class="example-form">
  <mat-form-field class="example-full-width mat-input-border">
    <input matInput placeholder="TextBox">
  </mat-form-field>
</form>
</div>

<h3>
  Tabs
</h3>
<div class="pad-20 border">
<mat-tab-group>
  <mat-tab label="Tab 1">Content 1</mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
  <mat-tab label="Tab 3">Content 3</mat-tab>
  <mat-tab label="Tab 4">Content 4</mat-tab>
  <mat-tab label="Tab 5">Content 5</mat-tab>
  <mat-tab label="Tab 6">Content 6</mat-tab>
  <mat-tab label="Tab 7">Content 7</mat-tab>
  <mat-tab label="Tab 8">Content 8</mat-tab>
  <mat-tab label="Tab 9">Content 9</mat-tab>
  <mat-tab label="Tab 10">Content 10</mat-tab>
  <mat-tab label="Tab 11">Content 11</mat-tab>
</mat-tab-group>
</div>

