@import 'styles.scss';
@import './../assets/styles/mixins.scss';
.black {
    color: $black;
}


/* Header css */

header {
    .logo-wrapper {
        height: 51px;
        .logo {
            background: url(#{$path-to-images}/header-logo.png);
            height: 51px;
            width: 283px;
            background-size: 223px;
            background-repeat: no-repeat;
        }
    }
    .navbar-toggle {
        width: 22px;
        position: relative;
        top: 12px;
        @include browserprefix(transform, rotate(0deg));
        @include browserprefix(transition, .5s ease-in-out);
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            @include width-height(100%, 4px);
            background: $brand-clr;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            @include browserprefix(transform, rotate(0deg));
            @include browserprefix(transition, .25s ease-in-out);
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 9px;
            }
            &:nth-child(4) {
                top: 18px;
            }
        }
        &.opened {
            span {
                background: $brand-clr;
                height: 3px;
                top: 18px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                top: 10px;
                @include browserprefix(transform, rotate(45deg));
            }
            &:nth-child(3) {
                top: 10px;
                @include browserprefix(transform, rotate(-45deg));
            }
            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}


/* Box container css  */

.box-container {
    width: 100%;
    padding: 2rem;
    float: left;
    position: relative;
    .box-container-in {
        width: 100%;
        float: left;
        position: relative; 
        padding: .5rem 1rem 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .sub-head {
        font-size: 13px;
        color: $brand-clr-ltr;
        font-weight: bold;
    }
    .head {
        font-size: 16px;
        color: $accent-dkr;
        font-weight: bold;
        .custom-popover-cls{
            font-weight: bold;
            padding: 1px 9px;
            border: 1px solid #ccc; 
            border-radius: 100%;
            position: relative;
            top: -2px;
            margin-left: 5px;
            color:$accent-dkr;
            &:hover{
                color: $white;
            }
        }
    }
    .summary-sect {
        width: 100%;
        float: left;
        position: relative;
        padding-bottom: 2rem;
        >div {
            &:nth-child(1) {
                color: $accent-lt;
                font-size: 13px;
                font-weight: bold;
            }
            &:nth-child(2) {
                color: $accent-dkr;
                font-size: 16px;
                font-weight: bold;
                line-height: 12px;
            }
        }
        button {
            background: none;
            border: 1px solid #ccc;
            padding: 2px 29px;
            border-radius: 4px;
            position: relative;
            top: 10px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            color: $brand-clr-secondary;
            &:hover,
            &:active,
            &:focus {
                background: $brand-clr-secondary;
                border: 1px solid $brand-clr-secondary;
                color: $white;
            }
        }
    }
}