@import 'styles.scss';
@import './../assets/styles/mixins.scss';


/* Layout */
.bg-grey{background-color: #f9f9f9;}
.border-x-md-dk {
  border-left: 2px solid $accent-dk;
  border-right: 2px solid $accent-dk;
  @media #{$medium} {
    border: none;
  }
}
.layout {
  &.container-fluid {
    @include display-flex;
    @include flex-direction(column);
    @include flex(1 0 auto);
    height: 100%;
    min-height: 100vh;
  }
}
h3.mt-0 {
  margin-top: 0 !important;
}
ng-select {
  width: 100%;
}
.line-height-1 {
  line-height: 1.3rem;
}
.overflow {
  overflow: auto;
}
.width-750 {
  max-width: 750px;
}
/* Header css */

header {
  /*@include browserprefix(box-shadow, inset 0px -1px 1px 0px rgba(0, 0, 0, .16));*/
  .logo-wrapper {
    height: 51px;
    .logo {
      background: url(#{$path-to-images}/header-logo.png);
      height: 51px;
      width: 228px;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  /*Hamburger Menu*/
 /* .navbar-toggle {
    width: 22px;
    position: relative;
    top: 15px;
    @include browserprefix(transform, rotate(0deg));
    @include browserprefix(transition, .5s ease-in-out);
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      @include width-height(100%, 4px);
      background: $brand-clr;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      @include browserprefix(transform, rotate(0deg));
      @include browserprefix(transition, .25s ease-in-out);
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
      }
      &:nth-child(4) {
        top: 18px;
      }
    }
    &.opened {
      span {
        background: $brand-clr;
        height: 3px;
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        top: 10px;
        @include browserprefix(transform, rotate(45deg));
      }
      &:nth-child(3) {
        top: 10px;
        @include browserprefix(transform, rotate(-45deg));
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }*/
}

/* Overlay*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: calc(100% - 67px);
  top: 67px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/*Main Pane*/

aside {
  z-index: 1;
  position: relative;
  background-color: $aside-bg-clr;
  width: 360px;
  transition: all 0.5s ease;
  border-radius: 10px;
  .resizer {
    display: none;
  }
  .input-section {
    padding: 15px;
    label {
      color : $white;
    }
  }
}

article {
  background: $white;
  min-height: 100%;
  padding: 20px;
  position: relative;
}

aside+article {
  width: calc(100% - 360px);
}

main {
  @include flex(1 0 auto);
  @include display-flex;
  @include flex-direction(row);
  position: relative;
}

/* Right article - Box container css  */

.box-container {
  width: 100%;
  padding: 2rem 0;
  float: left;
  position: relative;
  .main-box-header {
    h1 {
      float: left;
      width: 100%;
      position: relative;
      font-size: 26px;
      margin: 0;
      padding: 1rem 0 2rem;
    }
    .color-accent-dkr{
        display: inline-block;
    }
    .fa-question {
      padding: 3px 6px;
      border: 1px solid #ccc;
      border-radius: 100%;
      font-size: 18px;
      color: $accent-lt;
    }
  }
  .box-container-in {
    margin-bottom: 30px;
    padding: .5rem 1rem 0;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: #E6EFF6;
    .fa-question {
      padding: 3px 6px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 100%;
      color: $accent-lt;
    }
  }
  .active-card {
    border: 1px solid $brand-clr;
    border-radius: 7px;
    background-color: $white;
  }
  .sub-head {
    font-size: 13px;
    color: $brand-clr-ltr;
    font-family: $font-semibold;
  }
  .head {
    font-size: 16px;
    color: $accent-dkr;
    .custom-popover-cls {}
  }
  // .header-btn {
  //   button {
  //     .view-detail-btn {
  //       &:after {
  //         content: "";
  //         width: 1px;
  //         height: 13px;
  //         background-color: $brand-clr;
  //         left: 0;
  //         position: relative;
  //         display: inline-block;
  //         top: 1px;
  //         margin-left: 10px;
  //         margin-right: 7px;
  //       }
  //     }
  //     &:hover {
  //       .view-detail-btn {
  //         &:after {
  //           background-color: $white;
  //         }
  //       }
  //     }
  //   }
  //   i {
  //     font-size: 21px;
  //     top: 2px;
  //     position: relative
  //   }
  // }
  .summary-sect {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 1rem;
    >div {
      &:nth-child(1) {
        color: $accent-lt;
        font-size: 13px;
        font-weight: bold;
      }
      &:nth-child(2) {
        color: $accent-dkr;
        font-size: 16px;
        font-weight: bold;
        line-height: 12px;
      }
    }
  }
}

/*navigation*/
.navigation-link .active{
  border-left: 2px solid;
}

/* Right article -Rate Quote CSS */

.rate-quote-header {
  width: 100%;
  float: left;
  position: relative;
  .lft-sect {
    h1 {
      font-size: 24px;
    }
  }
  .rt-sect {
    .filter-btn {
      span.badge {
        background: $brand-clr;
        padding: 0.55em .6em;
        color: $white;
        margin-left: 10px;
        &:hover,
        &:focus,
        &:active {
          background: $white;
          color: $brand-clr;
        }
      }
      &:hover,
      &:focus,
      &:active {
        span.badge {
          background: $white;
          color: $brand-clr;
        }
      }
    }
    i {}
  }
  .head-desc {
    margin: 0;
    a {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

/* Filter inner html css */

/*.filter-inner-template {
  ul.nav {
    li {
      margin-bottom: 10px;
      border-radius: 0 !important;
    }
  }
}*/

/*media queries*/

@media #{$large} {
  aside {
    transform: translateX(-360px);
    position: fixed;
    height: 100%;
    z-index: 1000;
    border-radius: 0px;
    .resizer {
      display: inline-block;
      position: absolute;
      top: 0px;
      right: -40px;
      width: 40px;
      height: 40px;
      background: $brand-clr;
      .hamburger-btn {
        margin: 8px 0;
      }
      span {
        &:after {
          content: "\F105";
          font-family: FontAwesome;
          position: absolute;
          font-size: 43px;
          top: 6px;
          left: 15px;
          @include browserprefix(transition, .5s ease-in-out);
          color: $white;
        }
        /*  width: 80%;
        height: 2px;
        margin: 5px auto;
        display: block;
        background:  $brand-clr;
        transition: all 0.3s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.3s;
        transform: none;*/
      }
      &.active {
        .hamburger-btn {
          margin: 15px 0;
        }
        span {
          &:after {
            @include browserprefix(transform, rotate(180deg));
          }
          /* transition: all 0.3s cubic-bezier(0.810, -0.330, 0.345, 1.375);
          transition-delay: 0.3s;
          margin: 0 auto;
          &:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
          }*/
        }
      }
    }
    &.opened {
      width: 360px;
      transform: translateX(0px);
    }
    .input-section {
      height: calc(100vh - 67px);
      overflow: auto;
    }
  }
  aside+article {
    width: 100%;
  }
  .overlay {
    &.opened {
      display: block;
    }
  }
}

@media #{$small} {
  aside {
    &.opened {
      width: 320px;
    }
  }
}


/*New Layout*/

/*Header*/

/*login button*/
.login-btn{
  border-radius: 25px;
  margin-left: 10px;
}
/*Header nav*/
.navbar-collapse {
  display: block;
  flex-grow: initial;
  &.collapse {
     @media #{$medium}{
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
     }
  }
  &.show {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

/*Footer*/

/*fa icons*/
.footer-wrapper {
  padding: 47px 1rem 2.5rem 1rem;
    .fa {
  padding: 10px;
    font-size: 20px;
    width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #fff;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
}
.fa-linkedin {
  background: #007bb5;
}
.fa-phone{
  background: #0077B3;
}
.fa-envelope {
  background: #666666;
}
&.site-footer-container {
  .site-footer {
    -webkit-transform: rotate(1.5deg);
	-moz-transform: rotate(1.5deg);
	-o-transform: rotate(1.5deg);
	-ms-transform: rotate(1.5deg);
	transform: rotate(1.5deg);
     margin: -65px -1rem 0 -1rem;
    padding: 23px 0px 0 0px;
  }
  .site-footer-inner {
	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	-o-transform: rotate(-1.5deg);
	-ms-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg);
   margin: 0 1rem;
  }
  
}
    @media #{$large} {
      padding: 1rem;
      &.site-footer-container {
  .site-footer {
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
 margin: 0;
    padding: 0;
  }
  .site-footer-inner {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  margin: 0;
  }
  
}
  }
}

/*---new---*/
.border-none {
  border-left: 1px solid #dee2e6;
  @media screen and (max-width:767px) {
      border:none;
  }
}
.header-btn {
  i {
      font-size: 21px;
      top: 2px;
      left:1px;
      position: relative
  }
  .see-details {
    &:hover {
      background-color: $white;
      i {
        color: $brand-clr;
      }
    }
  }
}
.text-small {
  @media screen and (max-width:575px){
    font-size:14px; 
  }
}
.heading-small {
  @media screen and (max-width:767px){
    font-size: 18px !important;
  }
}
.line-height-disclaimer {
  line-height: 18px;
}
.copyright-container {
  label:last-child {
    &::before {
      content:"| ";
      display: inline;
    }
  }
}

