/*Components styling go here*/


/*Input*/

input[type=text] {
  display: block;
  width: 100%;
  border-width: 2px;
  border: 1px solid $border-input;
  background: transparent;
}


/*Nav Pills*/

.nav-pills .nav-item {
  color: $navpill-clr;
  background-color: $navpill-bg-clr;
  border: 1px solid $navpill-border-clr;
  padding: 0 !important;
  font-size: 14px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: $navpill-active-clr;
  background-color: $navpill-active-bg-clr;
}

.nav-pills li.nav-item:last-child {
  border-radius: 0px 4px 4px 0px;
}

.nav-pills li.nav-item:first-child {
  border-radius: 4px 0px 0px 4px;
}

.nav-pills .nav-link {
  border-radius: 0 !important;
  color: $navpill-active-bg-clr;
  padding-top: 2px;
  padding-bottom: 2px;
}


/*Radio button*/

.radio {
  .mat-radio-outer-circle {
    border-width: 1px;
    border-color: $radio-clr;
  }
  .mat-radio-label-content {
    color: $radio-clr;
    font-family: $font-default;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $radio-active-clr;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background: $radio-active-clr;
  }
  .mat-radio-checked {
    .mat-radio-label-content {
      color: $radio-active-clr;
    }
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $radio-active-clr;
    opacity: 0.26;
  }
}

/*
checkbox*/


.mat-accent .mat-checkbox-ripple .mat-ripple-element{ background-color: $radio-active-clr;
    opacity: 0.26;}

    .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
      background-color: $brand-clr;
    }
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element{background-color: $radio-active-clr;
    opacity: 0.26;}



/* Button CSS */

button {
  background: none;
  border: 1px solid $primary-btn-active-clr;
  padding: 2px 15px;
  border-radius: $btn-border-radius;
  font-family: $primary-btn-font;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: $primary-btn-active-clr;
  white-space: nowrap;
  &:hover {
    background: $primary-btn-active-clr;
    border: 1px solid $primary-btn-active-clr;
    color: $primary-btn-clr;
    span.badge {
      background: $primary-btn-clr;
      color: $primary-btn-active-clr;
    }
  }
  &:active,&:focus {
        box-shadow: none;
        outline: none;
    }
  /*secondary button*/
  &.btn-secondary {
    border: 1px solid $secondary-btn-active-clr;
    color: $secondary-btn-active-clr;
    font-family: $secondary-btn-font;
    &:hover{
      background: $secondary-btn-active-clr;
      border: 1px solid $secondary-btn-active-clr;
      color: $secondary-btn-clr;
      span.badge {
        background: $secondary-btn-clr;
        color: $secondary-btn-active-clr;
      }
      
    }
    &:active,&:focus {
        box-shadow: none;
        outline: none;
    }
    /*secondary btn inverse*/
    &.inverse {
        color: $secondary-btn-clr;
        font-family: $secondary-btn-font;
        background: $secondary-btn-active-clr;
        &:hover {
        background: $secondary-btn-clr;
        border: 1px solid $secondary-btn-active-clr;
        color: $secondary-btn-active-clr;
        background: transparent;
        outline: none;
        span.badge {
            background: $secondary-btn-active-clr;
            color: $secondary-btn-clr;
        }
    }
    &:active,&:focus {
        box-shadow: none;
        outline: none;
    }
  }
  }
}
