@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/opensans.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/opensans.woff') format('woff'), url('/assets/fonts/opensans.ttf') format('truetype'), url('/assets/fonts/opensans-regular-webfont.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/assets/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/opensans-bold.woff') format('woff'), url('/assets/fonts/opensans-bold.ttf') format('truetype'), url('/assets/fonts/opensans-bold-webfont.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('/assets/fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/opensans-semibold.woff') format('woff'), url('/assets/fonts/opensans-semibold.ttf') format('truetype'), url('/assets/fonts/opensans-semibold-webfont.svg#OpenSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('/assets/fonts/opensans-light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/opensans-light.woff') format('woff'), url('/assets/fonts/opensans-light.ttf') format('truetype'), url('/assets/fonts/opensans-light-webfont.svg#OpenSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: url('/assets/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/opensans-italic.woff') format('woff'), url('/assets/fonts/opensans-italic-webfont.ttf') format('truetype'), url('/assets/fonts/opensans-italic-webfont.svg#OpenSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold-Italic';
  src: url('/assets/fonts/opensans-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/opensans-semibold-italic.woff') format('woff'), url('/assets/fonts/opensans-semibold-italic-webfont.ttf') format('truetype'), url('/assets/fonts/opensans-semibold-italic-webfont.svg#OpenSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}