
/* utility classes */

::selection {
    background-color: $brand-clr;
    color: $white; 
}
.pointer {
    cursor: pointer;
}
a {
    color: $link-clr;
}
label {
    color: $label-clr;
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
}
.bg-transparent {
    background: transparent;
}
.text-underline,
.text-underline:hover {
    text-decoration: underline;
}
.center {
    @include display-flex;
    @include flex-align(center);
    @include justify-content(center);
}
.flex-space-between {
    @include justify-content(space-between);
}
.flex-stretch {
    @include flex-align(stretch);
}
.flex {
    @include display-flex;
}
.flex-1 {
    @include flex(1 0 auto);
}
.flex-column {
     @include flex-direction(column);
}

.flex-inherit,
.main-content > :first-child {
    @include display-flex;
    @include flex-direction(column);
    @include flex(1 0 auto);
}
.flex-wrap {
    @include flex-wrap;
}
.flex-grow {
    flex-grow : 1;
}
.flex-end {
    @include justify-content(end);
}
.vertical-center {
    @include display-flex;
    @include flex-align(center);
}
.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}
.overflow-wrap {
    white-space: normal;
    display: block;
    line-height: 1.5;
}
.no-wrap {
    white-space: nowrap;
}
.overflow-auto {
    overflow: auto;
}
.overflow-initial {
    overflow: initial !important;
}
.bold {
    font-family: $font-bold;
}
.semi-bold {
    font-family: $font-semibold !important;
}
.un-bold {
    font-family: $font-default !important;
}
.light {
    font-family: $font-light;
}
.bg-white {
    background-color: $white;
}
.bg-brand-clr {
    background: $brand-clr;
}
.bg-brand-clr-secondary {
    background: $brand-clr-secondary;
}
.border-light {
    border: 1px solid $accent-lt;
}
.border-medium {
    border: 1px solid $accent-dk;
}
.border-dark {
    border: 1px solid $accent-dkr;
}

.border-bottom-white {
    border-bottom: 1px solid $white;
}
.border-brand-color-lt {
    border: 1px solid $brand-clr-lt;
}
.rounded {
    border-radius: 4px;
}
.corner {
    border-radius: 0;
}
.disabled {
    opacity: 0.5;
}
.bg-beige {
    background: rgba(250,236,156,0.28);
}
.bg-red {
    background: $red;
}
.bg-green {
    background: $green;
}
.color-black {
    color: $black;
}
.color-brand {
    color: $brand-clr !important;
}
.color-brand-secondary {
    color: $brand-clr-secondary;
}
.color-white {
    color: $white;
}
.color-error-red{
    color: $error-red;
}
.color-err{
    color: $red;
}
.color-brand-lt {
    color: $brand-clr-lt;
}
.color-brand-ltr {
    color: $brand-clr-ltr;
}
.color-brand-dk {
    color: $brand-clr-dk;
}

.color-accent-lt {
    color: $accent-lt;
}
.color-accent-ltr {
    color: $accent-ltr;
}
.color-accent-dk {
    color: $accent-dk;
}
.color-accent-dkr {
    color: $accent-dkr;
}
.color-success {
    color: $green;
}
.success-msg{
    color: $success-green;
}

.txt-size-xxxs {
    font-size: 9px !important;
}
.txt-size-xs {
    font-size: 14px;
}
.txt-size-xxs {
    font-size: 13px;
}
.txt-size-sm {
    font-size: 16px !important;
}
.txt-size-xsm {
    font-size: 18px;
}
.txt-size-md {
    font-size: 22px;
}
.txt-size-lg {
    font-size: 28px;
}
.txt-size-xlg {
    font-size: 50px !important; 
}
.txt-size-xxlg {
    font-size: 64px;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.text-ellipsis{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


