/* Path for images and fonts */
$path-to-fonts: "./assets/fonts";
$path-to-images: "/assets/images";
$global-font-size : 16px; 



/* Common */
$black: #000000;
$white: #FFFFFF;
$grey: #cccccc;
$red: #ffa9a9;
$green: #00b233;
$orange: #ff8500;
$error-red: #ff5050;
$red: red;
$beige: #faec9c;
$success-green: #59C203;
$msg-green: #2f8848;
$transparent: transparent;

/* Brand Color Shades */
$brand-clr: #0865a8;
$brand-clr-secondary: #09357A;
$brand-clr-lt: #407DB0;
$brand-clr-ltr: #07B6F8;
$brand-clr-dk: #0077B3;

/* accent Shades */
$accent-lt: #999999;
$accent-dk: #666666;
$accent-dkr: #333333;

/* Application */
$app-bg-clr: $white;
$app-clr: $accent-dk;
$disabled: #c9c8c6;

/* Aside */
$aside-bg-clr: #f9f9f9;

/* Label */
$label-clr: $accent-dk;

/* Link */
$link-clr: #0077B3;
$link-hover-clr: $brand-clr-dk;
$link-visited-clr: $brand-clr-dk;

/* Disabled */
$disabled: #f4f4f4;
$disabled-font: $accent-lt;
$muted-white: #d8d8d8;


/*Media Queries Config*/

$xsmall: #{"only screen and (max-width: 767px)"};
$small: #{"only screen and (max-width: 991px)"};
$medium: #{"only screen and (max-width: 1199px)"};

/* Font Config */


$font-body: "OpenSans";
$font-default: "OpenSans";
$font-light: "OpenSans-Light";
$font-semibold: "OpenSans-SemiBold";
$font-bold: "OpenSans-Bold";
