/* Path for images and fonts */
$path-to-fonts: "./assets/fonts";
$path-to-images: "/assets/images";
$global-font-size : 16px; 

/* Font Config */

$font-body: "OpenSans";
$font-default: "OpenSans";
$font-light: "OpenSans-Light";
$font-semibold: "OpenSans-SemiBold";
$font-bold: "OpenSans-Bold";

/* Common */
$black: #000000;
$white: #FFFFFF;
$orange: #ff8500;
$error-red: #ff5050;
$red: red;
$beige: #faec9c;
$green: #00b233;
$success-green: #59C203;
$msg-green: #2f8848;
$transparent: transparent;

/* Brand Color Shades */
$brand-clr: #0865a8;
$brand-clr-secondary: #09357A;
$brand-clr-lt: #74A5CD;
$brand-clr-ltr: #07B6F8;
$brand-clr-dk: #0077B3;

/* accent Shades */
$accent-lt: #999999;
$accent-dk: #666666;
$accent-dkr: #333333;

/* Grey */
$grey: #cccccc;
$grey-lt: #f9f9f9;
$grey-dk: #d8d8d8;

/* Application level changes */

/* Application */
$app-bg-clr: $white;
$app-clr: $accent-dk;
$disabled: $grey-dk;

/* Aside */
$aside-bg-clr: $grey-lt;

/* Label */
$label-clr: $accent-dk;

/* Link */
$link-clr: $brand-clr-dk;
$link-hover-clr: $brand-clr-dk;
$link-visited-clr: $brand-clr-dk;

/* Disabled */
$disabled: $grey-lt;
$disabled-font: $accent-lt;
$muted-white: $grey-dk;

/* Component level changes */


/*Input*/

$border-input: $accent-lt;

/*Nav Pills*/

$navpill-active-bg-clr: $brand-clr;
$navpill-active-clr: $white;
$navpill-bg-clr: $white;
$navpill-clr: $brand-clr;
$navpill-border-clr: $brand-clr;

/*Radio button*/

$radio-clr: $accent-dk;
$radio-active-clr: $brand-clr-lt;

/*Button*/
/*primary button*/
$primary-btn-active-clr: $brand-clr;
$primary-btn-font: $font-light;
$primary-btn-clr: $white;
$btn-border-radius: 4px;

/*secondary button*/
$secondary-btn-active-clr: $brand-clr-secondary;
$secondary-btn-font: $font-semibold;
$secondary-btn-clr: $white;

/*Media Queries Config*/

$xsmall: #{"only screen and (max-width: 575px)"};
$small: #{"only screen and (max-width: 767px)"};
$medium: #{"only screen and (max-width: 991px)"};
$large: #{"only screen and (max-width: 1199px)"};

